/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-logo {
  height: 40px;
  margin-right: 20px;
}

.App-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #282c34;
}

.App-navbar img {
  height: 40px;
}

.App-navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.App-navbar-links li {
  margin: 0 10px;
}

.App-navbar-links a {
  color: white;
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .App-navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #282c34;
  }

  .App-navbar-links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-services, .App-projects, .App-contact {
  padding: 20px;
}

.App-services-row, .App-projects-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.App-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  flex: 0 1 calc(33% - 40px);
  box-sizing: border-box;
}

.App-card img {
  max-width: 100%;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  max-width: 600px;
  width: 100%;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.map-container iframe {
  width: 100%;
  border: none;
}

/* Add specific styles for scroll buttons */
.scroll-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.scroll-buttons button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 10px;
}

/* Add specific styles for the view more button */
.view-more-button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
