/* src/Contact.css */
.Contact {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .Contact h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  button {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  /* Contact.css */

.App-contact {
  padding: 20px;
  background-color: #f9f9f9;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-form {
  flex: 1;
  margin-right: 20px;
}

.map-container {
  flex: 1;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

  